pandas
numpy
matplotlib
tqdm
streamlit
Pillow
google-generativeai
seaborn
langchain
getpass4
langchain_experimental
openai
tabulate
pydantic-settings
pydantic
ydata-profiling
streamlit-pandas-profiling
ipython
