pandas
numpy
matplotlib
tqdm
streamlit
Pillow==8.4.0
seaborn
langchain
getpass4
langchain_experimental
openai
tabulate
"pydantic==1.*"
pandas-profiling
pydantic-settings
ydata-profiling
