pandas
numpy
matplotlib
tqdm
streamlit
Pillow
google-generativeai
seaborn==0.13.0
langchain
getpass4
langchain_experimental
langchain_google_genai
openai
tabulate
pydantic-settings
pydantic
ydata-profiling
streamlit-pandas-profiling
ipython
